#  **Pandas Assingment-4**

(Based on IPL matches and deliveries dataset)


Matches- <a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


Deliveries- <a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import numpy as np
import pandas as pd
import io
df=pd.read_csv(r"C:\Users\nawaz\matches.csv")
df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [0]:

df2=pd.read_csv(r"C:\Users\nawaz\deliveries.csv")
df2

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [0]:
#  Q1.- Make a pivot table of top 10 bowlers(in terms of wickets) with over(1-20) showing no. of wickets.  [Dificult-]




wickets_taken = df2[~df2['player_dismissed'].isnull()] 
wickets_taken
top_bowlers = wickets_taken.groupby('bowler')['player_dismissed'].count().sort_values(ascending = False).index[0:10].tolist() 
x=wickets_taken[wickets_taken['bowler'].isin(top_bowlers)]
x.pivot_table(index = "bowler", columns = "over", values = "player_dismissed", aggfunc = "count")

over,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
bowler,,,,,,,,,,,,,,,,,,,,
A Mishra,1.0,NaN,NaN,4.0,1.0,NaN,11.0,11.0,18.0,10.0,12.0,11.0,7.0,13.0,5.0,13.0,8.0,7.0,4.0,6.0
A Nehra,6.0,11.0,6.0,13.0,7.0,2.0,NaN,1.0,NaN,NaN,1.0,2.0,2.0,3.0,4.0,9.0,11.0,11.0,15.0,17.0
B Kumar,16.0,7.0,9.0,3.0,4.0,4.0,NaN,2.0,NaN,1.0,1.0,1.0,1.0,1.0,2.0,10.0,7.0,13.0,14.0,21.0
DJ Bravo,NaN,1.0,2.0,3.0,1.0,6.0,6.0,5.0,6.0,2.0,3.0,7.0,4.0,8.0,4.0,8.0,8.0,23.0,13.0,27.0
Harbhajan Singh,5.0,1.0,1.0,4.0,4.0,6.0,14.0,10.0,9.0,12.0,12.0,12.0,5.0,11.0,5.0,5.0,9.0,6.0,4.0,1.0
PP Chawla,NaN,1.0,NaN,1.0,2.0,7.0,5.0,9.0,11.0,8.0,13.0,8.0,14.0,10.0,13.0,10.0,8.0,7.0,2.0,4.0
R Ashwin,5.0,1.0,5.0,5.0,10.0,8.0,1.0,7.0,4.0,5.0,7.0,7.0,7.0,5.0,8.0,10.0,4.0,8.0,1.0,2.0
R Vinay Kumar,2.0,6.0,4.0,10.0,5.0,6.0,3.0,1.0,3.0,3.0,7.0,4.0,2.0,3.0,6.0,4.0,8.0,10.0,11.0,27.0
SL Malinga,11.0,11.0,2.0,3.0,5.0,6.0,1.0,NaN,1.0,2.0,1.0,4.0,7.0,3.0,5.0,17.0,13.0,22.0,36.0,20.0
Z Khan,14.0,6.0,17.0,8.0,10.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,1.0,1.0,10.0,3.0,13.0,7.0,15.0,8.0

In [0]:
# Q2.- Make a function for batting profile of any batsman:-                                              [Medium+]
def func(current_batsman):

    new=df2.merge(df,left_on='match_id',right_on='id')
    new['player_of_match']==current_batsman

    runs=df2.groupby('batsman').get_group(current_batsman)#we get a groupby object
    runs_scored=runs['batsman_runs'].sum()#.sort_values(ascending=False).head(5)
    print("total runs:",runs_scored)

    new=df2.merge(df,left_on='match_id',right_on='id')
    man_of_the_match=new[new['player_of_match']==current_batsman].shape[0]
    print("no of man of the match award:",man_of_the_match)

    no_of_boundaries=df2[(df2['batsman']==current_batsman) & (df2['batsman_runs']>=4)].shape[0]
    print("no of boudaries:",no_of_boundaries)

    innings=df2[df2['batsman']==current_batsman].shape[0]
    print("no of innings played:",innings)
func('V Kohli')

total runs: 4423
no of man of the match award: 2347
no of boudaries: 544
no of innings played: 3494

Ex- 

V Kohli:

Innings:  

Total Runs: 

No. of MOM(Man of the match):

No. of boundries:

In [0]:
# Q3.- Write a function to return top-4 batsman at a venue. Take venue as input.

In [0]:
def func(venue):

    new=df2.merge(df,left_on='match_id',right_on='id')
    a=new[new['city']==venue]

    runs=a.groupby('batsman') #we get a groupby object
    top_batsman=runs['batsman_runs'].sum().sort_values(ascending=False).head(4)
    print("top 4 batsman of ",venue,"is:",top_batsman)
    
func('Pune')

top 4 batsman of  Pune is: batsman
SPD Smith     647
RV Uthappa    540
AM Rahane     418
MS Dhoni      343
Name: batsman_runs, dtype: int64

In [0]:
# Q4.- No. of matches per season played in Mumbai.

In [0]:
a=df[(df['city']=='Mumbai') ]
a.groupby(['season'])['city'].count()

season
2008    10
2010    13
2011    16
2012     8
2013     8
2014     7
2015    11
2016     4
2017     8
Name: city, dtype: int64

In [0]:
# Q5. - Top-3 Player in terms of most no. of catches.

In [0]:
catch=df2[df2['dismissal_kind']=='caught']
catch['fielder'].value_counts().head(3)

KD Karthik        88
SK Raina          83
AB de Villiers    81
Name: fielder, dtype: int64